@import '../../../styles/styles.scss';


.dashboard {
  @extend .container;
  background-color: $card-background;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  text-align: center;
}

.dashboard h1 {
  color: $primary-color;
  margin-bottom: 20px;
}

.dashboard p {
  margin: 10px 0;
  color: darken($text-color, 20%);
}
